#imgmuestra {
    position:absolute;
    max-width: 600px;
    z-index:1;}

#contenedorimagen{
    display:inline-block;
   
    margin: 0 auto; 
    background: black; 
    position:relative; 
    /* //border:5px solid black;  */
    /* border-radius: 10px;  */
    box-shadow: 0 5px 50px #333;
    text-align: center !important;
    align-items: center !important;
    justify-content: center !important;
}


canvas {
    position: relative;
    top: 100;
    left: 0;
    border: 2px solid #0F2145;
    z-index:20;
  }

.indicador {
    margin-left: 20px;
    font-size: large;
    font-weight: 600;
}

.vh100{
    min-height: 85vh;
    max-height: 100vh;
}