.page-backgrond{
    background-color: #f2f2f2;
}
.Rhino{
    background-color: #273B5F !important;
}
.Red-Violet{
    background-color: #C42189 !important;
}
.Shakespeare{
    background-color: #4AADDA !important;
}
.Hippie-Blue{
    background-color: #6791B5 !important;
}